<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllyResponse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Detalles de Aliado</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Apertura</th>
                    <th>Categoría</th>
                    <th>Código</th>
                    <th>Negocio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ally.Apertura }}</td>
                    <td>{{ ally.Categoria }}</td>
                    <td>{{ ally.Codigo }}</td>
                    <td>{{ ally.Negocio }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

